{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<div class="container text-center">
<h1 class="mt-3">Mentions Légales</h1>
<p class="mt-3">
Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Grosses Caisses l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.

<h2>Edition du site</h2> 

Le présent site, accessible à l’URL www.grossescaisses.fr (le « Site »), est édité par :

Jean Pierre Lam, résidant 7 rue bourbon 78700 conflans sainte honorine, de nationalité Française (France), né(e) le 20/05/1976, 


<h2>Hébergement</h2>

Le Site est hébergé par la société OVH SAS, situé 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (contact téléphonique ou email : 1007).

<h2>Directeur de publication</h2>

Le Directeur de la publication du Site est Jean Pierre Lam.

<h2>Nous contacter</h2>

Par téléphone : +33766754195
Par email : jeanpierrelam@yahoo.fr
Par courrier : 7 rue bourbon 78700 conflans sainte honorine

<h2>Données personnelles</h2>

Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).

Génération des mentions légales par Legalstart.
</p>
</div>
{% endblock %}